// base colors
$color-base-green: #30ba78;
$color-base-blue: #0060df;
$color-base-violet: #9059ff;
$color-base-purple: #b833e1;
$color-base-pink: #ff298a;
$color-base-red: #ff4f5e;
$color-base-orange: #ff7139;
$color-base-yellow: #ffa436;

$color-base-light-gray: #bfbfc9;
$color-base-dark-gray: #32313c;
$color-base-marketing-gray: #9595a2;
$color-base-ink: #291d4f;

$color-base-black: #000000;
$color-base-white: #ffffff;

$colors: (
  'green': $color-base-green,
  'blue': $color-base-blue,
  'violet': $color-base-violet,
  'purple': $color-base-purple,
  'pink': $color-base-pink,
  'red': $color-base-red,
  'orange': $color-base-orange,
  'yellow': $color-base-yellow,
  'light-gray': $color-base-light-gray,
  'dark-gray': $color-base-dark-gray,
  'marketing-gray': $color-base-marketing-gray,
  'ink': $color-base-ink,
  'black': $color-base-black,
  'white': $color-base-white,
);
