@use '../abstracts/variables/localization' as av-localization;
@use '../abstracts/functions/font' as af-font;

* {
  border: none;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}


:root {
  font-family: av-localization.$font-stack-default;
  font-size: af-font.font-size(16);
  font-weight: af-font.font-weight('regular');
  line-height: af-font.line-height(16);
}
