@use 'sass:color';

@use '../variables/colors' as *;


@function color-05($color) {
  $color: color.adjust($color, $hue: 2);
  $color: color.adjust($color, $saturation: -31.58%);
  $color: color.mix($color-base-white, $color, 93%);

  @return $color;
}
